html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
}

svg {
  width: 28px;
  height: 28px;
}

input[type="text"]:focus {
  border: 1px solid #300d4f;
}

.message-form, .message-input {
  width: 100%;
  margin-bottom: 0;
}

.message-input {
  border-radius: 0;
  border: none;
  border-top: 1px solid #ccc;
  height: 50px;
  padding: 20px;
  font-size: 16px;
  background-color: #f6f6f6
}

.sidebar {
  width: 20%;
  background-color: darkcyan;
  height: 100%;
}

.sidebar ul {
  list-style: none;
}

.sidebar h3 {
  color: white;
  margin-bottom: 10px;
  text-align: left;
  padding: 10px 20px;
}

.preferences {
  padding-left: 20px;
  padding-right: 20px;
}

.right-sidebar select {
  width: 100%;
}

.join-chat form {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}

.user {
  font-size: 22px;
  color: white;
  cursor: pointer;
  text-align: left;
  padding: 5px 20px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.presence {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin-right: 10px;
  border-radius: 50%;
}

.presence.online {
  background-color: green;
}

.chat-window {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.room-name {
  border-bottom: 1px solid #ccc;
  text-align: left;
  padding: 10px 20px;
  display: flex;
}

.room-name h3 {
  margin-bottom: 0;
}

.chat-session {
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
  padding: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 0;
}

.status-message {
  text-align: center;
  font-style: italic;
}
.message {
  margin-bottom: 5px;
  padding-left: 10px;
}

.message span {
  display: block;
  text-align: left;
}

.user-id {
  font-weight: 700;
  font-size: 20px;
}
